body {
    background: #eee;
}

.chat-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 1rem 100px 1rem;
}

.block {
    width: min(100%, 600px);
    height: fit-content;
    border-radius: 10px;
    position: relative;
    margin-bottom: 35px;
}

.message-box {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: fit-content;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
}

.message {
    width: min(90%, 50ch);
    min-height: 5rem;
    height: auto; /* Optional: Set a minimum height */
    padding: 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    resize: none;
    margin: 1rem;
}

.message:focus {
    outline: none;
}

.submit {
    all: unset;
    width: fit-content;
    height: 1.5rem;
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    margin: 10px 10px 10px 5px;
    border-radius: 10px;
}

.submit:hover {
    background-color: aqua;
}

.submit:active {
    background-color: lightblue;
}

.submit:disabled {
    background-color: grey;
}

.block > .name {
    color: #444;
}

@media(prefers-color-scheme: dark) {
    .chat-history, body {
        background-color: #333;
    }

    .block {
        color: whitesmoke;
    }

    .message {
        background-color: darkgrey;
        color: black;
    }

    .message::placeholder {
        color: lightgrey;
    }
}